<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- See http://mybatis.github.io/mybatis-3/configuration.html#settings -->
    <settings>
        <!-- changes from the defaults -->
        <setting name="vfsImpl" value="org.mybatis.spring.boot.autoconfigure.SpringBootVFS"/>
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>
    <typeAliases>
        <package name="com.lms.commons.models"/>
        <package name="com.lms.auth.models"/>
        <package name="com.lms.core.models"/>
        <package name="com.lms.circulation_mgmt.models"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/AuthMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/MemberMapper.xml"/>
        <mapper resource="mapper/BookMapper.xml"/>
        <mapper resource="mapper/BookManagementMapper.xml"/>
        <mapper resource="mapper/CommonMapper.xml"/>
    </mappers>

</configuration>

